<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="150" alt="Angular Logo" src="assets/mclogo.png">
</div>
<h1>Tech Interview Assignment</h1>
<h2>Acceptance Criteria</h2>
<ul>
  <li>Create a login page that allows users to enter their username and password</li>
  <li>Make a REST call to the java backend that will query the DB to find out if the credentials are correct</li>
  <li>Show a message saying "login successful" if credentials are valid. </li>
  <li>Create an error message if login credentials are invalid.</li>
  <li>This is just to test passing information through REST and getting a response.  Don't worry about encryption, sessions or SSL. (the password can be passed in plain text)</li>
  <li>Here's a list of accepted user names and passwords
    <ul>
      <li>admin : admin</li>
      <li>thor : mjolnir</li>
      <li>srogers : shield</li>
      <li>tstark : password1</li>
    </ul>
  </li>
</ul>
<h2>Build the login page below....</h2>


